<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        .custom_table td{
            font-size: 13px;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="card rounded-0" style="margin-top: 70px;">
        <div class="card-body position-relative" style="height: calc(100vh - 53px);">
        <table class="table table-sm table-bordered table-hover ms-1 me-1 custom_table">
            <thead>
                <tr>
                    <th class="d-none">File ID</th>
                    <th>File Name</th>
                    <th>IR Type</th>
                    <th>IR Details</th>
                    <th>Document Type</th>
                    <th>Error</th>
                    <th>Date Uploaded</th>
                    <th>Uploaded By</th>
                </tr>
            </thead>
            <tbody>
                {% if master_data %}
                    {% for data in master_data%}
                    <tr>
                        <td class="d-none">{{ data.file_id }}</td>
                        <td>{{ data.file_original_name }}</td>
                        <td>{{ data.ir_type }}</td>
                        <td>{{ data.ir_description }}</td>
                        <td>{{ data.document_type }}</td>
                        <td>{{ data.error }}</td>
                        <td>{{ data.date_uploaded }}</td>
                        <td>{{ data.uploaded_by }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>